<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/styleBottiglia.css">
	<!-- <link type="text/css" rel="stylesheet" href="application.css" media="all" /> -->
    <link rel="stylesheet" href="../style/styleBottiglia2.css">



</head>
<body class="dark hero-anime" style="overflow: auto;">

    <!-- TITOLO -->
    
    <!-- NAVBAR -->
	<div class=" bg-light start-header start-style" style="position: sticky; z-index: 3;">
		<!-- <span class="nav-item icon pl-4 pl-md-0 ml-0 ml-md-5">
			<a class="nav-link"> <i class="fa-solid fa-bag-shopping fa-3x"></i></a>
		</span> -->
        <div >
            <img src="../img/LOGO_scritta_oro.png" class="title mx-auto d-block" style="width: 180px; " alt="">
        </div>

		<div class="container ">
			<div class="row" >
				<nav class="navbar navbar-expand-lg nav-fill w-100 navbar-light " >
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					
					<div class="collapse navbar-collapse justify-content-md-center"  id="navbarSupportedContent">

						
						<ul class="navbar-nav col-10 " >

							<!-- HOME -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 active">
								<a class="nav-link" href="index.html">Home</a>
							</li>

							<!-- CANTINE -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="cantine.html">Cantine</a>
							</li>

							<!-- DROPDOWN VINI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 ">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vini</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Bianco</a>
									<a class="dropdown-item" href="#">Spumante</a>
									<a class="dropdown-item" href="#">Rosso</a>
									<a class="dropdown-item" href="#">Rosé</a>
									<a class="dropdown-item" href="bottiglia.html">Linea Frati Limited</a>
									<a class="dropdown-item" href="bottiglia2.html">Linea Frati Limited 2</a>
								</div>
							</li>

							<!-- VISITACI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="#">Visitaci</a>
							</li>

							<!-- DROPDOWN SERVIZI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servizi</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Imbottigliamento</a>
									<a class="dropdown-item" href="#">Corso ONAV</a>
									<a class="dropdown-item" href="#">Feste Private</a>
								</div>
							</li>

							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" > <i class="fa-solid fa-bag-shopping fa-2x"></i></a>
							</li>
							<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" > <i class="fa-solid fa-user fa-2x"></i></a>
							</li> -->
						</ul>
						
		
						
					</div>
					
				</nav>		
			</div>
			<!-- DIV UTENTE -->
		</div>
		
	</div>


	<div >

		<div class="section-fluid-main">
            <div class="section-row">
                <div class="section-col">
                    <div class="section2">
                        <div class="section-in">
                            <img src="img/Linea_Frati/1_bott_F.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="hover-text">
                    <h2>La Gran Puttana di Luca</h2>
                </div>
                <div class="section-col">
                    <div class="section2">
						<a href="dettaglio_cantina.html">

							<div class="section-in">
								<img src="img/Linea_Frati/2_bott_F.png" alt="">
							</div>
						</a>
                    </div>
                </div>
                <div class="hover-text">
                    <h2>L'Eterno Innamorato di Nicolas</h2>
                </div>
                <div class="section-col">
                    <div class="section2">
                        <div class="section-in">
                            <img src="img/Linea_Frati/3_bott.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="hover-text">
                    <h2>Respiro di Tommaso</h2>
                </div>
                <div class="section-col">
                    <div class="section2">
                        <div class="section-in">
                            <img src="img/Linea_Frati/4_bot_F.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="hover-text">
                    <h2>Barolo di Davide</h2>
                </div>
                <!-- <div class="section-col">
                    <div class="section">
                        <div class="section-in">
                            <img src="https://assets.codepen.io/1462889/sl5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hover-text">
                    <h2>Mirror Reflection</h2>
                </div>
                <div class="section-col">
                    <div class="section">
                        <div class="section-in">
                            <img src="https://assets.codepen.io/1462889/sl6.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hover-text">
                    <h2>Funny Bunny</h2>
                </div> -->
            </div>
    
            
        </div>






		<!-- DOMPE -->


		<!-- <div class="cover-box" v-bind:style="fullscrenStyle">
			<div class="cover-container parallax-container" :is="'carousel'" :autostart="1" :pager="1" :iteration="[]" :index="0" :activated="ageGate">
				<div class="cover-wrapper"><div class="cover-slide cover-slide-image swiper-slide-2 show-everywhere " aid="26158" title="VINTAGE 2013" data-index="1">
			<a class="cover-link" draggable="false" href="it-it/champagne/vintage/dom-perignon-vintage/2013.html">
				<div class="cover-slide-decoration parallax-item" data-background-image="sites/domperignon.com/files/vintage_2013_2048x1032.jpg" data-background-image-mobile="https://www.domperignon.com/sites/www.domperignon.com/files/vintage_2013_2048x1032.jpg"></div>
				<div class="cover-slide-container">
					<div class="cover-slide-content">
						<h1>VINTAGE 2013</h1>
										<h2 class="subtitle">CHIAREZZA ELEGANTE</h2>
										<h2 class="product-link">SCOPRI</h2>
					</div>
				</div>
			</a>
		</div><div class="cover-slide cover-slide-image swiper-slide-3 show-everywhere " aid="26116" title="Ros&eacute; 2008" data-index="2">
			<a class="cover-link" draggable="false" href="it-it/inspirations/lady-gaga-eoy.html">
				<div class="cover-slide-decoration parallax-item" data-background-image="sites/domperignon.com/files/desktop_1920x1080_jpg_5.jpg" data-background-image-mobile="https://www.domperignon.com/sites/www.domperignon.com/files/desktop_1920x1080_jpg_1.jpg"></div>
				<div class="cover-slide-container">
					<div class="cover-slide-content">
						<h1>Rosé 2008</h1>
										<h2 class="subtitle">Lady Gaga Edizione Limitata</h2>
										<h2 class="product-link">SCOPRI</h2>
					</div>
				</div>
			</a>
		</div><div class="cover-slide cover-slide-image swiper-slide-4 show-everywhere " aid="25841" title="Pl&eacute;nitude 2 2004" data-index="3">
			<a class="cover-link" draggable="false" href="it-it/champagne/vintage/dom-perignon-P2/2004.html">
				<div class="cover-slide-decoration parallax-item" data-background-image="sites/domperignon.com/files/dp-p2-2004-banner.png" data-background-image-mobile="https://www.domperignon.com/sites/www.domperignon.com/files/dp-p2-2004-banner.png"></div>
				<div class="cover-slide-container">
					<div class="cover-slide-content">
						<h1>Plénitude 2 2004</h1>
										<h2 class="subtitle">Dom Pérignon elevated to its second life</h2>
										<h2 class="product-link">Scopri</h2>
					</div>
				</div>
			</a>
		</div><div class="cover-slide cover-slide-image swiper-slide-5 show-everywhere " aid="25599" title="Ros&eacute; 2008" data-index="4">
			<a class="cover-link" draggable="false" href="it-it/champagne/vintage/dom-perignon-rose/2008.html">
				<div class="cover-slide-decoration parallax-item" data-background-image="sites/domperignon.com/files/dom-perignon-rose-2008-beautyshot_2.jpg" data-background-image-mobile="https://www.domperignon.com/sites/www.domperignon.com/files/dom-perignon-rose-2008-beautyshot_0.jpg"></div>
				<div class="cover-slide-container">
					<div class="cover-slide-content">
						<h1>Rosé 2008</h1>
										<h2 class="subtitle">IL BRIVIDO DELL'IGNOTO</h2>
										<h2 class="product-link">Scopri</h2>
					</div>
				</div>
			</a>
		</div></div>
			</div>
			<span class="scroll-helper-custom">
				<span class="thumb"></span>
			</span>
		</div> -->
		<a href="login.html" class="link-to-portfolio hover-target"    > <i class="fa-solid fa-user fa-2x mt-2"></i></a>

	</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src="../js/function.js"></script>
<script src="../js/functionBottiglia.js"></script>

</body>
</html>