<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/styleBottiglia.css">
    <link rel="stylesheet" href="../style/styleLogin.css">


</head>
<body class="dark hero-anime" style="overflow: auto;">

    <!-- TITOLO -->
    
    <!-- NAVBAR -->
    
	<div class=" bg-light start-header start-style" style="position: sticky; z-index: 3;">
		<!-- <span class="nav-item icon pl-4 pl-md-0 ml-0 ml-md-5">
			<a class="nav-link"> <i class="fa-solid fa-bag-shopping fa-3x"></i></a>
		</span> -->
        <div >
            <img src="img/LOGO_scritta_oro.png" class="title mx-auto d-block" style="width: 180px; " alt="">
        </div>

		<div class="container ">
			<div class="row" >
				<nav class="navbar navbar-expand-lg nav-fill w-100 navbar-light " >
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					
					<div class="collapse navbar-collapse justify-content-md-center"  id="navbarSupportedContent">

						
						<ul class="navbar-nav col-10 " >

							<!-- HOME -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 ">
								<a class="nav-link" href="index.php">Home</a>
							</li>

							<!-- CANTINE -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="cantine.php">Cantine</a>
							</li>

							<!-- DROPDOWN VINI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 ">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vini</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="sezione_vini.php">Bianco</a>
									<a class="dropdown-item" href="sezione_vini.php">Spumante</a>
									<a class="dropdown-item" href="sezione_vini.php">Rosso</a>
									<a class="dropdown-item" href="sezione_vini.php">Rosé</a>
									<a class="dropdown-item" href="vini_limited_edition.php">Linea Frati Limited</a>
									<a class="dropdown-item" href="bottiglia2.php">Linea Frati Limited 2</a>
								</div>
							</li>

							<!-- VISITACI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="visitaci.php">Visitaci</a>
							</li>

							<!-- DROPDOWN SERVIZI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="servizi.php" role="button" aria-haspopup="true" aria-expanded="false">Servizi</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="dettaglio_servizio.php">Imbottigliamento</a>
									<a class="dropdown-item" href="dettaglio_servizio.php">Corso ONAV</a>
									<a class="dropdown-item" href="dettaglio_servizio.php">Feste Private</a>
								</div>
							</li>

							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" href="carrello.php"> <i class="fa-solid fa-bag-shopping fa-2x"></i></a>
							</li>
							<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" > <i class="fa-solid fa-user fa-2x"></i></a>
							</li> -->
						</ul>
						
		
						
					</div>
					
				</nav>		
			</div>
			<!-- DIV UTENTE -->
		</div>
		
	</div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

<!-- CONTENT -->


    <div class="container my-3 text-center ">
        
        <!-- <div class="m-5 " style="height: 50px;  z-index: 1;">
            <img src="" class="position-absolute top-0 start-50 translate-middle-x" width="200px" alt="">
        </div> -->

        
        <div class="card text-bg-dark mb-3" style="width: 40rem;  z-index: -1; ">
            <div class="card-body border border-warning-subtle rounded">
                <h5 class="card-title my-3 "> Ciao Luca  </h5>
                <ul class="list-group ">
                    <li class="list-group-item text-bg-dark">Nome: Luca </li>
                    <li class="list-group-item text-bg-dark">Cognome Rizzi ?> </li>
                    <li class="list-group-item text-bg-dark">Ruolo: ---</li>
                    <li class="list-group-item text-bg-dark">Data di nascita: ---</li>
                    <li class="list-group-item text-bg-dark">Luogo di nascita: ---</li>
    
                </ul>
            </div>
        </div>

        
        <div style="align-items: center;justify-content: center;display: flex;">
            
            <a href="index_priv.php" class="btn btn-outline-primary m-2" >
                Indietro
            </a>

            <a href="esci.php" class="btn btn-outline-danger m-2" >
                Esci
            </a>
            
            <a href="#" class="btn btn-outline-success m-2" >
                Modifica
            </a>

            
        </div>
        

    </div>






    <div class=" mt-4" style="display:flex; background-color:#14151a; text-decoration:none; color:white"> <!--  my-5 = margine, verticale, valore -->
        <div class="text-center">
            
                <img src="./img/LOGO_uva_oro.png" width="200" alt="Agricolture IOT">
                <br>
                <a href="https://instagram.com/davide_dadomo?igshid=YmMyMTA2M2Y=">
                    <img src="./img/instagram.png" class="" width="30"alt="">
                </a>
    
                <a href="https://www.facebook.com/PAPAFRANCESCOMARIOBERGOGLIO">
                    <img src="./img/facebook.png" class="" width="30"alt="">
                </a>
            

        </div>
        <pre class="py-5 px-4" style="color:white">
            @2022 ISII G. Marconi
            created by: Frati Paoloni S.r.l
            
            EMAIL: fratipaoloni@gmail.com
        </pre>
        
        <div class="border-start pl-3">
        <a href="" style="color:white">FAQ</a><br>
        <a href="" style="color:white">CHI SIAMO</a><br>
        
        <button class="btn btn-warning">
            <a href="contattaci.php" style="color:black">CONTATTACI</a>    
        </button>
        
        </div>
    </div>
</body>
</html>
