<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/styleBottiglia.css">


</head>
<body class="dark hero-anime" style="overflow: auto; height: 2000px;">

    <!-- TITOLO -->
    
    <!-- NAVBAR -->
	<div class=" bg-light start-header start-style" style="position: sticky; z-index: 3;">
		<!-- <span class="nav-item icon pl-4 pl-md-0 ml-0 ml-md-5">
			<a class="nav-link"> <i class="fa-solid fa-bag-shopping fa-3x"></i></a>
		</span> -->
        <div >
            <img src="../img/LOGO_scritta_oro.png" class="title mx-auto d-block" style="width: 180px; " alt="">
        </div>

		<div class="container ">
			<div class="row" >
				<nav class="navbar navbar-expand-lg nav-fill w-100 navbar-light " >
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					
					<div class="collapse navbar-collapse justify-content-md-center"  id="navbarSupportedContent">

						
						<ul class="navbar-nav col-10 " >

							<!-- HOME -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 active">
								<a class="nav-link" href="index.html">Home</a>
							</li>

							<!-- CANTINE -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="cantine.html">Cantine</a>
							</li>

							<!-- DROPDOWN VINI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 ">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vini</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="sezione_vini.html">Bianco</a>
									<a class="dropdown-item" href="sezione_vini.html">Spumante</a>
									<a class="dropdown-item" href="sezione_vini.html">Rosso</a>
									<a class="dropdown-item" href="sezione_vini.html">Rosé</a>
									<a class="dropdown-item" href="vini_limited_edition.html">Linea Frati Limited</a>
									<a class="dropdown-item" href="bottiglia2.html">Linea Frati Limited 2</a>
								</div>
							</li>

							<!-- VISITACI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="visitaci.html">Visitaci</a>
							</li>

							<!-- DROPDOWN SERVIZI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="servizi.html" role="button" aria-haspopup="true" aria-expanded="false">Servizi</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="dettaglio_servizio.html">Imbottigliamento</a>
									<a class="dropdown-item" href="dettaglio_servizio.html">Corso ONAV</a>
									<a class="dropdown-item" href="dettaglio_servizio.html">Feste Private</a>
								</div>
							</li>

							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" href="carrello.html"> <i class="fa-solid fa-bag-shopping fa-2x"></i></a>
							</li>
							<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" > <i class="fa-solid fa-user fa-2x"></i></a>
							</li> -->
						</ul>
						
		
						
					</div>
					
				</nav>		
			</div>
			<!-- DIV UTENTE -->
		</div>
		
	</div>



	<div >
		<a href="login.html" class="link-to-portfolio hover-target"    > <i class="fa-solid fa-user fa-2x mt-2"></i></a>


		<!-- ---------------------------------------------------------------------------------------------------- -->
		<!-- ----------------------------------------SLIDESHOW--------------------------------------------------- -->
		<!-- ---------------------------------------------------------------------------------------------------- -->

			<div id="demo" class="carousel slide " style="background-color: #171a1f; " data-ride="carousel">
			


				<!-- --------------------------------------------------------------------- -->
				<!-- ---------------------Indicatori SX/DX-------------------------------- -->
				<!-- --------------------------------------------------------------------- -->

				<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active"></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
				</ul>
				

				<div class="carousel-inner" style="height:660px ; ">


					<!-- --------------------------------------------------------------------- -->
					<!-- ------------------------------item 1--------------------------------- -->
					<!-- --------------------------------------------------------------------- -->

					<div class="carousel-item active"> 
						<div class="row" >
							<div class="col-7 align-items-center justify-content-center p-5" style="height:660px ;">
								<h1 style="color: #e9da03; margin-top: 10%; ">Vienici a trovare!</h1>

								<!-- Descrizione -->
								
								<p class="text-secondary">Visite guidate alle nostre cantine tutti i giorni dalle 10.00 alle 16.00.</p>
								<p class="text-secondary">Degustazione vini locali inclusa.</p>
							
								
								<p>
									<a class="btn btn-warning my-3" style=" box-shadow: 0 5px 25px 0px #ffee00;" href="visitaci.html">Prenota</a>
								</p>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center" style="height:660px ; ">

								<img src="../img/Cantine/BG2.jpg"  alt="Chicago" class="" style="border-radius: 0 35% 0 35%; box-shadow: 0 6px 50px 0 #ffee00;" width="150%" >
							</div>

							
						</div>
						
						
					</div>


					<!-- --------------------------------------------------------------------- -->
					<!-- ------------------------------item 2--------------------------------- -->
					<!-- --------------------------------------------------------------------- -->

					<div class="carousel-item " >
						<div class="row d-flex align-items-center justify-content-center">
						

							<img src="../img/Linea_Frati/4_bott_F_index.png"  alt="Chicago" class=" " style="border-radius: 30px;" width="90%" >
							<a href="bottiglia.html" style="position: absolute;" class="btn btn-outline-warning">Scopri</a>

						</div>
					</div>


					<!-- --------------------------------------------------------------------- -->
					<!-- ------------------------------item 3--------------------------------- -->
					<!-- --------------------------------------------------------------------- -->

					<div class="carousel-item">
						<div class="row">
							<div class="row d-flex align-items-center justify-content-center">
						

								<img src="../img/Cantine/cantina_pantelleria_prova.png"  alt="Chicago" class=" " style="border-radius: 30px;" width="89%" >
								<!-- <button type="button" style="position: absolute;" class="btn btn-outline-warning">Scopri</button> -->
								
							</div>
							<div style="position: absolute; width: 30%; margin-top: 20%; margin-left: 5%; " class="text-center"   >
								<h2 style="color: #e9da03; margin-top: 10%; ">Nuova Cantina <br> "Tenuta Grande Sese" </h1>

							<!-- Descrizione -->
								
							
								<!-- <p class="text-secondary"></p>
								<p class="text-secondary">Degustazione vini locali inclusa.</p> -->
							
								
								<p>
									<a class="btn btn-outline-warning my-3"  href="cantine.html">Scopri</a>
								</p>
							</div>
					</div>
				</div>
				
				<!-- --------------------------------------------------------------------- -->
				<!-- ---------------------Controlli SX/DX--------------------------------- -->
				<!-- --------------------------------------------------------------------- -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>



		
		
		</div>


		<!-- ---------------------------------------------------------------------------------------------------- -->
		<!-- --------------------------------------BEST SELLER--------------------------------------------------- -->
		<!-- ---------------------------------------------------------------------------------------------------- -->

		<div class="">
			<h1 class="m-5" style="color: #e9da03;">I nostri bestseller</h1>
			<div class="d-flex justify-content-center align-items-center">

				<figure class="card mx-4  ">
					<img src="../img/Linea_Frati/2_bott_F.png" alt="">
					<figcaption>
						<p class="h5 text-dark">Nome Vino</p>
						<p class="text-dark"> 69.99€</p>
					</figcaption>
				</figure>
				<figure class="card mx-4 ">
					<img src="../img/Linea_Frati/1_bott_F.png" alt="">
					<figcaption>
						<p class="h5 text-dark">Nome Vino</p>
						<p class="text-dark"> 69.99€</p>
					</figcaption>
				</figure>
				<figure class="card mx-4 ">
					<img src="../img/Linea_Frati/3_bott.png" alt="">
					<figcaption>
						<p class="h5 text-dark">Nome Vino</p>
						<p class="text-dark"> 69.99€</p>
					</figcaption>
				</figure>
				<figure class="card mx-4">
					<img src="../img/Linea_Frati/4_bot_F.png" alt="">
					<figcaption>
						<p class="h5 text-dark ">Nome Vino</p>
						<p class="text-dark"> 69.99€</p>
					</figcaption>

				</figure>
			</div>
		</div>
	</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src="../js/function.js"></script>
<script src="../js/functionBottiglia.js"></script>


</body>
<style>
	.card{
		width: 20rem;
		height: 20rem;
		display: grid;
		grid-template-rows: 1fr 0;
		transition: grid-template-rows 400ms;
		overflow: hidden;
		background-color: #d2c900;
	}

	.card img {
		width: 100%;
		height: 100%;
		object-fit: cover;

	}

	.card:hover{
		grid-template-rows: 1fr 6rem;
	}
</style>
</html>