<!--DA MODIFICARE GRAFICAMENTE (RITOCCHI O RIFARE)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/styleBottiglia.css">
    <link rel="stylesheet" href="../style/styleSezioneVini2.css">



</head>
<body class="dark hero-anime" style="overflow: auto;">

    <!-- TITOLO -->
    
    <!-- NAVBAR -->
	<div class=" bg-light start-header start-style" style="position: sticky; z-index: 3;">
		<!-- <span class="nav-item icon pl-4 pl-md-0 ml-0 ml-md-5">
			<a class="nav-link"> <i class="fa-solid fa-bag-shopping fa-3x"></i></a>
		</span> -->
        <div >
            <img src="../img/LOGO_scritta_oro.png" class="title mx-auto d-block" style="width: 180px; " alt="">
        </div>

		<div class="container ">
			<div class="row" >
				<nav class="navbar navbar-expand-lg nav-fill w-100 navbar-light " >
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					
					<div class="collapse navbar-collapse justify-content-md-center"  id="navbarSupportedContent">

						
						<ul class="navbar-nav col-10 " >

							<!-- HOME -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 ">
								<a class="nav-link" href="index.html">Home</a>
							</li>

							<!-- CANTINE -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="cantine.html">Cantine</a>
							</li>

							<!-- DROPDOWN VINI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 active">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vini</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="sezione_vini.html">Bianco</a>
									<a class="dropdown-item" href="sezione_vini.html">Spumante</a>
									<a class="dropdown-item" href="sezione_vini.html">Rosso</a>
									<a class="dropdown-item" href="sezione_vini.html">Rosé</a>
									<a class="dropdown-item" href="vini_limited_edition.html">Linea Frati Limited</a>
									<a class="dropdown-item" href="bottiglia2.html">Linea Frati Limited 2</a>
								</div>
							</li>

							<!-- VISITACI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link" href="visitaci.html">Visitaci</a>
							</li>

							<!-- DROPDOWN SERVIZI -->
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="servizi.html" role="button" aria-haspopup="true" aria-expanded="false">Servizi</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="dettaglio_servizio.html">Imbottigliamento</a>
									<a class="dropdown-item" href="dettaglio_servizio.html">Corso ONAV</a>
									<a class="dropdown-item" href="dettaglio_servizio.html">Feste Private</a>
								</div>
							</li>

							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" href="carrello.html"> <i class="fa-solid fa-bag-shopping fa-2x"></i></a>
							</li>
							<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5" >
								<a class="nav-link" > <i class="fa-solid fa-user fa-2x"></i></a>
							</li> -->
						</ul>
						
		
						
					</div>
					
				</nav>		
			</div>
			<!-- DIV UTENTE -->
		</div>
		
		<a href="login.html" class="link-to-portfolio hover-target"    > <i class="fa-solid fa-user fa-2x mt-2"></i></a>
	</div>


	<!-- ---------------------------------------------------------------------------------------------------- -->
	<!-- ------------------------------------FILTRA/ORDINA--------------------------------------------------- -->
	<!-- ---------------------------------------------------------------------------------------------------- -->
	<div class="mb-5">

		<p>
			<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseFiltra" aria-expanded="false" aria-controls="collapseFiltra">
				Filtra
			</button>
			<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseOrdina" aria-expanded="false" aria-controls="collapseOrdina">
				Ordina
			</button>
		</p>
		<div class="collapse row " id="collapseFiltra" >
			
			<!-- Selezione Cantine -->
			<div class=" wrapper col m-3">
				<h5>-Cantina</h5>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
						Cantina 1
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
						Cantina 2
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
						Cantina 3
					</label>
				</div>
			</div>
			<div class="wrapper col m-3">
				<header>
					<h2>Price Range</h2>
					<p>Use slider or enter min and max price</p>
				</header>
				<div class="price-input">
					<div class="field">
					<span>Min</span>
					<input type="number" class="input-min" value="2500">
					</div>
					<div class="separator">-</div>
					<div class="field">
					<span>Max</span>
					<input type="number" class="input-max" value="7500">
					</div>
				</div>
				<div class="slider">
					<div class="progress"></div>
				</div>
				<div class="range-input">
					<input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
					<input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
				</div>
				</div>

				<div class="wrapper col m-3">

				</div>

			</div>


		</div>

		<div class="collapse" id="collapseOrdina">
			<div class="">
				QUI CI SARANNO GLI ORDINAMENTI
			</div>
		</div>
	</div>

	<div class="d-flex">

		<figure class="card mx-4  ">
			<img src="../img/Linea_Frati/2_bott_F.png" alt="">
			<figcaption>
				<p class="h5 text-dark">Nome Vino</p>
				<p class="text-dark"> 69.99€</p>
			</figcaption>
		</figure>
		<figure class="card mx-4 ">
			<img src="../img/Linea_Frati/1_bott_F.png" alt="">
			<figcaption>
				<p class="h5 text-dark">Nome Vino</p>
				<p class="text-dark"> 69.99€</p>
			</figcaption>
		</figure>
		<figure class="card mx-4 ">
			<img src="../img/Linea_Frati/3_bott.png" alt="">
			<figcaption>
				<p class="h5 text-dark">Nome Vino</p>
				<p class="text-dark"> 69.99€</p>
			</figcaption>
		</figure>
		<figure class="card mx-4">
			<img src="../img/Linea_Frati/4_bot_F.png" alt="">
			<figcaption>
				<p class="h5 text-dark ">Nome Vino</p>
				<p class="text-dark"> 69.99€</p>
			</figcaption>
		</figure>

	
	</div>

	<style>
		.card{
			width: 20rem;
			height: 20rem;
			display: grid;
			grid-template-rows: 1fr 0;
			transition: grid-template-rows 400ms;
			overflow: hidden;
			background-color: #9e9600;
		}
	
		.card img {
			width: 100%;
			height: 100%;
			object-fit: cover;
	
		}
	
		.card:hover{
			grid-template-rows: 1fr 6rem;
		}
	</style>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src="../js/function.js"></script>
<script src="../js/functionBottiglia.js"></script>
<script src="../js/functionSezioneVini2.js"></script>

</body>
</html>