body{
	height: 10%;
}
#my-name:hover{
	background-color: rgba(0,0,0,0.4);
}
#home-page{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center; 
	height: 45em;
	background-color: #ECEEEF;  
	margin: 0;
	border-radius: 0; 
}
#about-page{     
	margin: 0;  
	padding-bottom: 0.5em;
	padding-top: 3em;  
}
